.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--green);
}
.logo {
  width: 150px;
  height: 90px;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: repeat(2, 40px);
}

.logo_img {
  width: 80px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.logo div {
  grid-row: span 2;
  display: grid;
  grid-template-columns: 100%;
  justify-content: stretch;
  justify-items: center;
}

.logo div span:first-child {
    font-size: 25px;
  justify-items:center;
  align-self: flex-end;
}
.logo div span:last-child{
    font-size: 20px;
}

/* user icon singIn*/

