*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}
.container{
    padding: 2px;
}

:root{
    --green: #3abb1a;
    --white: #fff;
    --dark-green: #1d580e;

    --border-radius: 6px;
}